### BEGIN INIT INFO
# Provides:          nomad
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: distributed scheduler
# Description:       distributed, highly available, datacenter-aware scheduler
### END INIT INFO

[Unit]
Description=nomad agent
Documentation=https://nomadproject.io/docs/
After=network-online.target
Wants=network-online.target

[Service]
User={{ nomad_user }}
Group={{ nomad_group }}
{% if nomad_vault_agent_support == True %}
Environment=VAULT_ADDR={{ nomad_vault_agent_service_address }}
Environment=VAULT_SKIP_VERIFY={{ nomad_vault_agent_skip_verify }}
ExecStartPre={{ nomad_vault_agent_bin }} agent -config /etc/vault-agent.d/vault-agent.hcl
ExecStart=/usr/bin/nomad-vault.sh
{% else %}
ExecStart={{ nomad_bin_dir }}/nomad agent -config={{ nomad_config_dir }}
{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=42s
StartLimitBurst=3
StartLimitIntervalSec=10
{% if systemd_version.stdout is version('226', '>=') %}
TasksMax=infinity
{% endif %}

[Install]
WantedBy=multi-user.target
